.Footer_container {
  position: fixed;
  bottom: 0%;
  text-align: center;
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
  height: 40px;
  width: 30%;
  display: flex;
  &__chat {
    width: 25%;
    margin: auto;
  }
  &__call {
    width: 25%;
    margin: auto;
    hr {
      margin-bottom: -8px;
      border-width: 2px;
      color: #28a0dc;
    }
  }
  &__video {
    width: 25%;
    margin: auto;
  }
  &__add {
    width: 25%;
    margin: auto;
  }
}
